# Métricas de Regressão

In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics as metricas

In [2]:
X = [1, 3, 3]
y = [1, 4, 7]
y_pred = [3, 2, 4.5]

df = pd.DataFrame({ 'X': X, 'y': y, 'y_pred': y_pred })
df

   X  y  y_pred
0  1  1     3.0
1  3  4     2.0
2  3  7     4.5

### MAE

In [3]:
metricas.mean_absolute_error(df['y'], df['y_pred'])

2.1666666666666665

In [4]:
mae = (df['y'] - df['y_pred']).abs().sum() / df.shape[0]
mae

2.1666666666666665

### MSE

In [5]:
metricas.mean_squared_error(df['y'], df['y_pred'])

4.75

In [6]:
df.shape[0]

3

In [7]:
mse = ((df['y'] - df['y_pred'])**2).sum() / df.shape[0]
mse

4.75

### RMSE

In [8]:
metricas.mean_squared_error(df['y'], df['y_pred'], squared=False)

2.179449471770337

In [9]:
rmse = np.sqrt(mse)
rmse

2.179449471770337

In [10]:
rmse = mse ** (1/2)
rmse

2.179449471770337